<!DOCTYPE html>
<html>
<head>
    <title>List of Movies</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <h1>List of Movies (First 20)</h1>
    <div class="card-container">
        {% for movie in movies %}
            <div class="card">
                <h2>Title: {{ movie.Title }}</h2>
                <p>Genres: {{ movie.Genre }}</p>
                <p>Plot: {{ movie.Plot }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
