<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <h1>Customer Management</h1>
    <div class="button-container">
        <!-- <button class="custom-button" onclick="location.href='/add_movie'">Add a Movie</button> -->
        <button class="custom-button" onclick="location.href='/get_movie'">Search Movies</button>
        <button class="custom-button" onclick="location.href='/get_all_movies'">View All Movies</button>
        <!-- <button class="custom-button" onclick="location.href='/test_elasticsearch'">Test Elastic DB</button> -->
    </div>
</body>
</html>
